<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - SakuK</title>
  <link rel="icon" type="image/svg+xml" href="~/favicon.svg" />
  <!-- Todo: Add SEO tags -->
  <link rel="stylesheet" href="~/css/tailwind.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/fullstack_portfolio.styles.css" asp-append-version="true" />
</head>

<body class="text-primary-100 bg-primary text-lg font-mono leading-relaxed min-w-[356px]">
  <nav class="py-4 px-5 fixed top-0 left-0 w-full z-20 bg-primary/30 backdrop-blur-lg sm:px-10">
    <ul class="flex gap-4 max-w-5xl mx-auto">
      <li>&lt; &gt;</li>
      <li><a asp-controller="Home" asp-action="Index" class="no-underline">Home</a></li>
      <li><a asp-controller="Home" asp-action="Privacy" class="no-underline">Privacy</a></li>
      <li><a asp-controller="Dashboard" asp-action="Index" class="no-underline">Dashboard</a></li>
    </ul>
  </nav>
  <main role="main" class="pb-20 min-h-[90svh] overflow-x-clip">
    @RenderBody()
  </main>

  <footer>
    <div class="max-w-5xl mx-auto px-5 sm:px-10">
      &copy; 2024 Saku Karttunen - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> - <a asp-area=""
        asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
  </footer>
  <script src="~/js/site.js" asp-append-version="true"></script>
  <base href="~/">
  <!-- <script src="~/_framework/blazor.server.js"></script> -->
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
