<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - SakuK</title>
  <link rel="icon" type="image/svg+xml" href="~/favicon.svg" />
  <!-- Todo: Add SEO tags -->
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/fullstack_portfolio.styles.css" asp-append-version="true" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          maxWidth: {
            'content': '100rem',
          },
          gridTemplateColumns: {
            fluid: "repeat(auto-fit, minmax(20rem, 1fr))",
          },
          colors: {
            'primary': {
              '50': '#f7f6f9',
              '100': '#efedf1',
              '200': '#dad7e0',
              '300': '#b9b4c5',
              '400': '#928ba5',
              '500': '#756d8a',
              '600': '#5f5772',
              '700': '#4e475d',
              '800': '#433e4e',
              '900': '#3b3644',
              '950': '#242129',
              DEFAULT: '#242129',
            },
          },
          fontFamily: {
            'sans': ['Montserrat', 'sans-serif'],
            'mono': ['"Fira Code"', 'monospace'],
          },
          fontSize: {
            'header': ['clamp(3rem, 10vw, 5.5rem)', {
              lineHeight: '1',
            }],
            'subheader': ['clamp(2.5rem, 8vw, 3rem)', {
              lineHeight: '1',
            }]
          },
        }
      }
    }
  </script>
</head>

<body class="text-primary-100 bg-primary text-lg font-mono leading-relaxed min-w-[356px]">
  <nav class="py-2 px-4 max-w-5xl mx-auto">
    <ul class="flex gap-4">
      <li><a asp-controller="Home" asp-action="Index">Home</a></li>
      <li><a asp-controller="Home" asp-action="Privacy">Privacy</a></li>
    </ul>
  </nav>
  <main role="main" class="pb-10 min-h-[90svh]">
    @RenderBody()
  </main>

  <footer>
    <div class="max-w-5xl mx-auto">
      &copy; 2024 Saku Karttunen - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> - <a asp-area=""
        asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
  </footer>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
