@using fullstack_portfolio.Data
@using fullstack_portfolio.Models

<section>
	<h1>Counter</h1>
	<p>Current count: @counter</p>
	<button @onclick="IncrementCount">Increment</button>
</section>

@code {
	private int counter = 0;

	private void IncrementCount()
	{
		counter++;
	}
}
