<section class="grid max-w-6xl mx-auto md:grid-cols-3">
  <div class="space-y-4 col-span-2">
    <div class="subheader">
      <p><span>// 01</span> About me</p>
      <h2>Who Am I?</h2>
    </div>
    <p>
      Hello there, I am Saku and I am a fullstack web developer with a background in design. I have a 
      passion for creating and solving problems. I enjoy working with modern tehnologies and learning new
      ones. This is my portfolio website where you can see some of my projects and learn more about what 
      I do best.
    </p>
    <p>
      Thank you for visiting! If you have any further questions or would like to work with me, feel free to
      contact me through the <a href="#contactform">form</a> below, by 
      <a href="saku.karttunen@gmail.com" class="email">email</a> or through my social media 
      <a href="#contactinfo">listed below</a>.
    </p>
    <a href="/" class="btn bg-secondary w-max hover:bg-secondary-700">Download CV</a>
  </div>
  <div class="relative scale-150 hidden -z-10 md:block">
    <img src="~/images/sklogo.svg" alt="My logo with the letters S and K" class="h-full w-full opacity-50">
      <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-primary to-transparent"></div>
  </div>
</section>

<script>
  const emailLink = document.querySelector('a.email');
  emailLink.addEventListener('click', (e) => {
    e.preventDefault();
    const email = emailLink.href.split("/").pop();
    // copy to clipboard
    navigator.clipboard.writeText(email);
    // indicate that the email has been copied
    const originalText = emailLink.textContent;
    emailLink.textContent = "email copied!";
    setTimeout(() => {
      emailLink.textContent = originalText;
    }, 3000);
  });
</script>
