<section class="grid max-w-6xl mx-auto md:grid-cols-3">
  <div class="space-y-4 col-span-2">
    <div class="subheader">
      <p><span>// 01</span> About me</p>
      <h2>Who Am I?</h2>
    </div>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, iste corporis corrupti
      <a href="/">Test Link</a> quidem, voluptates, quas quos quia quibusdam doloribus
      explicabo omnis voluptates voluptate placeat praesentium, beatae a cumque consequatur ratione modi minus molestias
      non similique.
    </p>
    <a href="/" class="btn bg-secondary w-max hover:bg-secondary-700">Download CV</a>
  </div>
  <div class="relative scale-150 hidden -z-10 md:block">
    <img src="~/images/sklogo.svg" alt="My logo with the letters S and K" class="h-full w-full opacity-50">
      <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-primary to-transparent"></div>
  </div>
</section>
