@using fullstack_portfolio.Models;
@model Experience[]

<section id="experience">
  <div class="subheader">
    <p><span>// 05</span> Experience</p>
    <h2>Professional Experience</h2>
  </div>
</section>
