<section class="grid gap-6 md:grid-cols-2">
  <div class="space-y-4">
    <div class="subheader">
      <p><span>// 04</span> Works</p>
      <h2>My Skills & Tools</h2>
    </div>
    <p>
      Leo in netus enim sed auctor. Enim dolor elementum velit aliquam enim. In feugiat
      diam bibendum egestas amet ullamcorper ipsum. Massa semper enim mauris leo.
      At fusce nulla ut enim aliquet purus praesent eleifend.
    </p>
    <p>
      If you would like to hear more about any projects, feel free to contact me.
      I am always down to discuss the process and the technologies used in them.
    </p>
  </div>
  <div class="relative flex flex-col justify-center min-h-[400px]">
    <div class="pb-10">
      <p>Featured Project:</p>
      <h3 class="text-5xl font-bold mix-blend-difference max-w-xs">Kantolan KunnonSali</h3>
      <a href="" class="btn bg-secondary mt-4">View Project</a>
    </div>
    <img src="~/images/placeholder-phone.png" alt="placeholder phone"
      class="absolute top-0 right-0 -z-10 h-full">
  </div>
</section>
