@tailwind base;
@tailwind components;
@tailwind utilities;

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* import fonts from the wwwroot/fonts/ folder */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat_variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("/fonts/firacode_variable.ttf") format("truetype");
  font-weight: 300 700;
  font-style: monospace;
}
